extends ./layout/index

block contenido
       main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nostros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote ipsum dolor, sit amet consectetur adipisicing elit. Magni ipsam dicta facere repellat blanditiis, omnis recusandae quo esse vero debitis voluptas odio sunt similique sapiente perspiciatis assumenda in veritatis error.Iure labore fuga temporibus, nam cumque maxime placeat illo omnis, of

                p ipsum dolor sit, amet consectetur adipisicing elit. Dolor vel a non fugit asperiores doloribus ratione nesciunt, sapiente assumenda! Blanditiis, eius facere ipsum qui labore nesciunt at temporibus ducimus consequatur!Deserunt officiis asperiores fugit accusantium ipsum amet nesciunt, distinctio molestias eum 

                p ipsum dolor sit amet consectetur adipisicing elit. Vel voluptates illo, rerum officia neque impedit ipsum recusandae suscipit qui atque repudiandae eaque provident, dicta quos tenetur alias assumenda magnam cupiditate?Deleniti dolorum laboriosam quisquam a adipisci eum natus illum corporis eveniet odit alias, ullam minima totam recusandae, quidem laudantium ratione sapiente iure earum rem temporibus. Provident dolor doloributio aliquam reic 

        .listado-iconos
            .container.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorem itaque sed at exercitationem ad maiores debitis quos ex laudantium ut suscipit, odio, dolorum quasi aspernatur, architecto quo minus eos?

                    .col-md-4
                        img(src="img/icono_destinos .svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorem itaque sed at exercitationem ad maiores debitis quos ex laudantium ut suscipit, odio, dolorum quasi aspernatur, architecto quo minus eos?

                    .col-md-4
                        img(src="img/icono_precio.svg", alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Los Mejores Precios 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorem itaque sed at exercitationem ad maiores debitis quos ex laudantium ut suscipit, odio, dolorum quasi aspernatur, architecto quo minus eos?
